@import "tailwindcss";

@font-face {
    font-family: Aenotik Trial;
    src: url("/public/fonts/aeoniktrial-light.otf");
    font-weight: 300;
}

@font-face {
    font-family: Aenotik Trial;
    src: url("/fonts/aeoniktrial-regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: Aenotik Trial;
    src: url("/fonts/aeoniktrial-bold.otf");
    font-weight: 700;
}

:root {
    /*------ COLORS ------*/
    --primary: #008cff;
    --primary-tint: #e6f4ff;
    --gray-tint: #9ba8bd;
    --white-transparent-tint: rgba(255, 255, 255, 0.2);
    --white-transparent-tone: rgba(255, 255, 255, 0.4);
    --background: #ffffff;
    --foreground: #000000;

    /*------ SPACING ------*/
    --container-sm-vert: 90px;
}

@theme inline {
    --color-primary: var(--primary);
    --color-primary-tint: var(--primary-tint);
    --color-gray-tint: var(--gray-tint);
    --color-white-transparent-tint: var(--white-transparent-tint);
    --color-white-transparent-tone: var(--white-transparent-tone);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --spacing-container-sm-vert: var(--container-sm-vert);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family:
        Aenotik Trial,
        Helvetica,
        sans-serif;
}

/*------ CONTAINERS ------*/
.container-sm {
    @apply px-8 max-w-[1200px] mx-auto;
}

.container {
    @apply px-8 max-w-full;
}

/*------ HEADINGS ------*/
h1 {
    font-size: 5.75rem;
    line-height: 6.35rem;
}

h2 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    margin-bottom: 1rem;
}

/*------ BUTTONS ------*/
.btn-fill-primary {
    background-color: var(--primary);
    color: var(--background);
}

.btn-base {
    @apply py-2 px-6;
}

.btn-lg {
    @apply py-3 px-8;
}
