@import 'tailwindcss';

@font-face {
    font-family: Aenotik Trial;
    src: url('/public/fonts/aeoniktrial-light.otf');
    font-weight: 300;
}

@font-face {
    font-family: Aenotik Trial;
    src: url('/fonts/aeoniktrial-regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: Aenotik Trial;
    src: url('/fonts/aeoniktrial-bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: Girloy;
    src: url('/fonts/Gilroy-Medium.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Girloy;
    src: url('/fonts/Gilroy-Bold.ttf');
    font-weight: 700;
}

:root {
    /*------ COLORS ------*/
    --primary: #008cff;
    --primary-tint: #e6f4ff;
    --primary-shade: #0077d9;
    --gray-tint: #9ba8bd;
    --gray-tone: #7b8ca8;
    --gray-shade: #5f6a7a;
    --white-transparent-tint: rgba(255, 255, 255, 0.2);
    --white-transparent-tone: rgba(255, 255, 255, 0.4);
    --white-transparent-shade: rgba(255, 255, 255, 0.8);
    --background: #ffffff;
    --foreground: #222222;

    /*------ SPACING ------*/
    --container-sm-vert: 90px;
}

@media (max-width: 640px) {
    :root {
        --container-sm-vert: 40px;
    }
}

@theme inline {
    --color-primary: var(--primary);
    --color-primary-tint: var(--primary-tint);
    --color-primary-shade: var(--primary-shade);
    --color-gray-tint: var(--gray-tint);
    --color-gray-tone: var(--gray-tone);
    --color-gray-shade: var(--gray-shade);
    --color-white-transparent-tint: var(--white-transparent-tint);
    --color-white-transparent-tone: var(--white-transparent-tone);
    --color-white-transparent-shade: var(--white-transparent-shade);
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --spacing-container-sm-vert: var(--container-sm-vert);

    --font-aenotik: 'Aenotik Trial', sans-serif;
    --font-girloy: 'Girloy', sans-serif;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family:
        Aenotik Trial,
        sans-serif;
}

img {
    pointer-events: none;
    user-select: none;
}

button {
    pointer-events: all;
}

.link {
    color: var(--primary-shade);
}

.link:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    @apply w-full border border-gray-300;
}

table tr th {
    @apply border border-gray-300 bg-gray-200 px-4 py-2 text-left;
}

table tr td {
    @apply border border-gray-300 px-4 py-2;
}

/*------ CONTAINERS ------*/
.container-sm {
    @apply mx-auto max-w-[1200px] px-3 md:px-6;
}

.container {
    @apply max-w-full px-3 md:px-6;
}

/*------ HEADINGS & TYPOGRAPHY ------*/
h1 {
    @apply text-[3.5rem] leading-[3.8rem] sm:text-[5.75rem] sm:leading-[6.15rem];
}

h2 {
    @apply mb-3 text-[2rem] leading-[2rem] sm:text-[2.8rem] sm:leading-[2.8rem] md:mb-4 md:text-[3.6rem] md:leading-[3.8rem] lg:text-[4.5rem] lg:leading-[4.5rem];
}

h3 {
    font-weight: 700;
    margin-bottom: 1.6rem;
    @apply mb-4 text-[1.6rem] leading-[1.8rem] sm:mb-6 sm:text-[2.4rem] sm:leading-[2.4rem] lg:text-[2.875rem] lg:leading-[3rem];
}

h5 {
    font-weight: 700;
    margin-bottom: 0.8rem;
    @apply text-[1.3rem] leading-[1.2rem] lg:text-[1.4rem] lg:leading-[1.6rem];
}

p {
    margin-bottom: 12px;
}

/*------ LISTS ------*/
ul.blue-checkmark {
    list-style: none;
    padding-left: 0;
}

ul.blue-checkmark li {
    position: relative;
    margin-bottom: 12px;
    @apply pl-8;
}

ul.blue-checkmark li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.27em;
    width: 16px;
    height: 16px;
    background: url('/images/list-item.svg') no-repeat center / contain;
}

/*------ BUTTONS ------*/
.btn-fill-primary {
    background-color: var(--primary);
    color: var(--background);
}

.btn-fill-primary:hover {
    background-color: var(--primary-shade);
}

.btn-fill-primary-submitting {
    @apply bg-primary/80! hover:bg-primary/80! flex cursor-default! items-center justify-center gap-2;
}

.btn-fill-background {
    background-color: var(--background);
    color: var(--foreground);
}

.btn-fill-background:hover {
    background-color: var(--white-transparent-shade);
}

.btn-base {
    @apply px-6 pt-[7px] pb-[6px] shadow-sm;
}

.btn-lg {
    @apply px-8 pt-2 pb-[7px] shadow-sm sm:pt-3 sm:pb-[11px];
}

/*------ INPUT ------*/
.placeholder,
input::placeholder,
textarea::placeholder {
    @apply text-gray-tone text-sm md:text-base;
}

.form-input-standard {
    @apply border-gray-tint/80 outline-gray-tint/80 relative overflow-hidden rounded-sm border-1 outline-0;

    input,
    .dropdown-input {
        @apply flex h-[2rem] w-full items-center px-2 pt-1 pb-0.5 outline-none sm:h-[2.5rem] sm:px-4 sm:pt-3 sm:pb-2.5;
    }

    textarea {
        @apply px-2 py-2 outline-none sm:px-4 sm:py-3;
    }
}

.form-input-standard:focus-within {
    @apply outline-1;
}

/*------ SHADOWS ------*/
.shadow-top {
    box-shadow: 0px -0.5px 2px rgba(0, 0, 0, 0.1);
}

.shadow-card {
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-card-lg {
    box-shadow: 0 4px 10px rgba(95, 95, 95, 0.15);
}

/*------ SWIPER ------*/
.swiper-slide {
    height: auto !important;
}

.tech-stack {
    padding-inline: 16px !important;
    padding-bottom: 14px !important;
}

/*------ BLOG POST ------*/
.blog-post {
    h1 {
        @apply mt-10 mb-4 text-4xl leading-10 font-bold;
    }
    img {
        @apply mx-auto my-6;
    }
}
