@import "tailwindcss";

@font-face {
    font-family: Aenotik Trial;
    src: url("/public/fonts/aeoniktrial-light.otf");
    font-weight: 300;
}

@font-face {
    font-family: Aenotik Trial;
    src: url("/fonts/aeoniktrial-regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: Aenotik Trial;
    src: url("/fonts/aeoniktrial-bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: Girloy;
    src: url("/fonts/Gilroy-Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Girloy;
    src: url("/fonts/Gilroy-Bold.ttf");
    font-weight: 700;
}

:root {
    /*------ COLORS ------*/
    --primary: #008cff;
    --primary-tint: #e6f4ff;
    --primary-shade: #0077d9;
    --gray-tint: #9ba8bd;
    --gray-tone: #7b8ca8;
    --white-transparent-tint: rgba(255, 255, 255, 0.2);
    --white-transparent-tone: rgba(255, 255, 255, 0.4);
    --background: #ffffff;
    --foreground: #000000;

    /*------ SPACING ------*/
    --container-sm-vert: 90px;
}

@media (max-width: 640px) {
    :root {
        --container-sm-vert: 40px;
    }
}

@theme inline {
    --color-primary: var(--primary);
    --color-primary-tint: var(--primary-tint);
    --color-primary-shade: var(--primary-shade);
    --color-gray-tint: var(--gray-tint);
    --color-gray-tone: var(--gray-tone);
    --color-white-transparent-tint: var(--white-transparent-tint);
    --color-white-transparent-tone: var(--white-transparent-tone);
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --spacing-container-sm-vert: var(--container-sm-vert);

    --font-aenotik: "Aenotik Trial", sans-serif;
    --font-girloy: "Girloy", sans-serif;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family:
        Aenotik Trial,
        sans-serif;
}

/*------ CONTAINERS ------*/
.container-sm {
    @apply px-3 md:px-6 max-w-[1200px] mx-auto;
}

.container {
    @apply px-3 md:px-6 max-w-full;
}

/*------ HEADINGS & TYPOGRAPHY ------*/
h1 {
    @apply leading-[3.8rem] sm:leading-[6.15rem] text-[3.5rem] sm:text-[5.75rem];
}

h2 {
    @apply mb-3 md:mb-4 leading-[2rem] sm:leading-[2.8rem] md:leading-[3.8rem] lg:leading-[4.5rem] text-[2rem] sm:text-[2.8rem] md:text-[3.6rem] lg:text-[4.5rem];
}

h3 {
    font-weight: 700;
    margin-bottom: 1.6rem;
    @apply mb-4 sm:mb-6 leading-[1.8rem] sm:leading-[2.4rem] lg:leading-[3rem] text-[1.6rem] sm:text-[2.4rem] lg:text-[2.875rem];
}

h5 {
    font-weight: 700;
    margin-bottom: 0.8rem;
    @apply leading-[1.2rem] lg:leading-[1.6rem] text-[1.3rem] lg:text-[1.4rem];
}

p {
    margin-bottom: 12px;
}

/*------ LISTS ------*/
ul.blue-checkmark {
    list-style: none;
    padding-left: 0;
}

ul.blue-checkmark li {
    position: relative;
    margin-bottom: 12px;
    @apply pl-8;
}

ul.blue-checkmark li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.27em;
    width: 16px;
    height: 16px;
    background: url("/images/list-item.svg") no-repeat center / contain;
}

/*------ BUTTONS ------*/
.btn-fill-primary {
    background-color: var(--primary);
    color: var(--background);
}

.btn-fill-primary:hover {
    background-color: var(--primary-shade);
}

.btn-fill-background {
    background-color: var(--background);
    color: var(--foreground);
}

.btn-fill-background:hover {
    background-color: var(--white-transparent-tone);
}

.btn-base {
    @apply pb-[6px] pt-[7px] px-6 shadow-sm;
}

.btn-lg {
    @apply pb-[10px] pt-3 px-8 shadow-sm;
}

/*------ INPUT ------*/
.placeholder,
input::placeholder,
textarea::placeholder {
    @apply text-gray-tone;
}

.form-input-standard {
    @apply relative outline-0 border-1 border-gray-tint/80 py-2 sm:py-3 px-2 sm:px-5 outline-gray-tint/80 rounded-lg;

    input {
        @apply h-full w-full outline-none;
    }
}

.form-input-standard:focus-within {
    @apply outline-1;
}

/*------ SHADOWS ------*/
.shadow-top {
    box-shadow: 0px -0.5px 2px rgba(0, 0, 0, 0.1);
}

.shadow-card {
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-card-lg {
    box-shadow: 0 4px 10px rgba(95, 95, 95, 0.15);
}

/*------ SWIPER ------*/
.swiper-slide {
    height: auto !important;
}

.tech-stack {
    padding-inline: 16px !important;
    padding-bottom: 14px !important;
}

.tech-stack .swiper-pagination {
    translate: 0 24px;
}
